<?xml version="1.0"?>
<root xmlns:xacro="http://ros.org/wiki/xacro">
  
  <xacro:include filename="$(find logimat_description)/urdf/sensors/camera/kinect/kinect_camera.gazebo.xacro" />

  <xacro:macro name="kinect_camera_v0" params="name parent *origin">
    <joint name="${name}_frame_joint" type="fixed">
      <insert_block name="origin" />
      <parent link="${parent}"/>
      <child link="${name}_frame"/>
    </joint>
    <link name="${name}_frame">

      <inertial>
        <mass value="0.1" />
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <inertia ixx="0.01"  ixy="0.0"  ixz="0.0"
                 iyy="0.01"  iyz="0.0"
                 izz="0.01" />
      </inertial>

      <visual>
				<origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
        <origin xyz="0.0 0.23 -0.4" rpy="0.0 1.57 1.57"/>
        <geometry>
          <mesh filename="package://logimat_description/meshes/sensors/camera/kinect/kinect.dae" />
        </geometry>
      </visual>

      <collision>
				<origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
        <geometry>
          <mesh filename="package://logimat_description/meshes/sensors/camera/kinect/kinect.dae" />
        </geometry>
      </collision>

    </link>

    <joint name="${name}_optical_joint" type="fixed">
      <origin xyz="${cal_kinect_x}            ${cal_kinect_y}         ${cal_kinect_z}"
                rpy="${-pi/2+cal_kinect_roll} ${0.0+cal_kinect_pitch} ${-pi/2+cal_kinect_yaw}" />
      <parent link="${name}_frame"/>
      <child link="${name}_optical_frame"/>
    </joint>

    <link name="${name}_optical_frame"/>

    <!-- extensions -->
    <xacro:kinect_camera_gazebo_v0 name="${name}" />
  </xacro:macro>

</root>

