<?xml version="1.0"?>

<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:macro name="gripper_transmission_v0" params="name">

    <transmission name="${name}_1_trans">
			<type>transmission_interface/SimpleTransmission</type>
			<actuator name="${name}_1_motor">
				<hardwareInterface>PositionJointInterface</hardwareInterface>
				<mechanicalReduction>1</mechanicalReduction>	
			</actuator>
			<joint name="${name}_1_joint">
				<hardwareInterface>PositionJointInterface</hardwareInterface>
			</joint>
		</transmission>

		<transmission name="${name}_2_trans">
			<type>transmission_interface/SimpleTransmission</type>
			<actuator name="${name}_2_motor">
				<hardwareInterface>PositionJointInterface</hardwareInterface>
				<mechanicalReduction>1</mechanicalReduction>	
			</actuator>
			<joint name="${name}_2_joint">
				<hardwareInterface>PositionJointInterface</hardwareInterface>
			</joint>
		</transmission>	
	</xacro:macro>
</robot>
