<?xml version="1.0"?>
<launch>
  
  <!-- Parameters to pass to the ROS node -->
  <arg name="joint_position_topic" default="/iiwa/state/JointPosition"/>
  <arg name="cartesian_position_topic" default="/iiwa/state/CartesianPose"/>
  <arg name="ros_rate" default="0.1"/>
  
  <param name="/iiwa/publishJointStates" type="boolean" value="true" /> <!--publish joint states (avoid joint_state_controller)-->
  
  <!--  This loads the robot description  -->
  <!--   <include ns="iiwa" file="$(find iiwa_tool_moveit)/launch/planning_context.launch">
    <arg name="load_robot_description" value="true"/>
  </include> -->
  

  <!-- Here we call the ROS node we have written, with the parameters on top   -->
  <node ns="iiwa" name="ControlMode" pkg="iiwa" type="setting_control_mode_sim" respawn="false" output="screen">
    <param name="joint_position_topic" value="$(arg joint_position_topic)"/>
    <param name="cartesian_position_topic" value="$(arg cartesian_position_topic)"/>
    <param name="ros_rate" value="$(arg ros_rate)"/>
  </node>
  
  <!-- Load RViZ with the given configuration file  -->

</launch>